// Fonts
@font-face {
    font-family: "Futura Std";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/FuturaStd-Book.svg?v=4.7.0") format("svg"),
        url("/fonts/FuturaStd-Book.woff2?v=4.7.0") format("woff2");
}

@font-face {
    font-family: "Futura Std Bold";
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/FuturaStd-Bold.svg?v=4.7.0") format("svg"),
        url("/fonts/FuturaStd-Bold.woff2?v=4.7.0") format("woff2");
}

// Bootstrap
@import "~bootstrap/scss/bootstrap";

body {
    background: rgb(204, 204, 204);
    font-family: "Futura Std", sans-serif;
    font-size: 11pt;
}
page {
    background: white;
    display: block;
    position: relative;
    page-break-after: always;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);

    &[size="A4"] {
        width: 255mm;
        height: 370mm;
        padding: 4cm 1cm 3cm 1cm;
    }

    &[size="A4"][layout="landscape"] {
        width: 29.7cm;
        height: 21cm;
    }

    &[size="A3"] {
        width: 29.7cm;
        height: 42cm;
    }

    &[size="A3"][layout="landscape"] {
        width: 42cm;
        height: 29.7cm;
    }

    &[size="A5"] {
        width: 14.8cm;
        height: 21cm;
    }

    &[size="A5"][layout="landscape"] {
        width: 21cm;
        height: 14.8cm;
    }
}

p {
    margin: 0;
}

table {
    width: 100%;
}

th {
    width: 20%;
    font-family: "Futura Std Bold", sans-serif;
}

th,
td {
    padding: 3px;
}

.masp-logo {
    font-family: "Futura Std Bold", "Futura Std", sans-serif;
    font-size: 70px;
    color: #c3322c;
}

.cabecalho {
    margin: 15px 0;
    &--titulo {
        font-family: "Futura Std Bold", sans-serif;
        text-transform: uppercase;
        font-weight: bold;
    }
}

.id {
    font-family: "Futura Std Bold", sans-serif;
}

.descricao {
    display: block;
}

.linha {
    width: 83%;
    border-bottom: 1px solid #000;
}

.assinatura {
    margin: 0 auto;
    width: 50%;
    border-bottom: 1px solid #000;
}

.footer {
    font-size: 9.5pt;
    position: absolute;
    bottom: 1cm;

    &-museu {
        font-family: "Futura Std Bold";
        margin-right: 1rem;
    }
}

@page {
    margin: 0;
    padding: 0;
    size: A4;
}

@media print {
    body,
    page {
        margin: 0;
        box-shadow: 0;
    }
}
